body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    display: flex;
    justify-content: space-around;
    color:white;
    padding: 2em;
    border-radius: 25px;
    width: 100%;
    max-width: 450px;
    margin:1em;
    background: rgba(0, 0, 0, 0.75);
}
.description{
    text-transform: capitalize;
}
.description-c{
    text-transform: capitalize;
}
.flex {
    display: flex;
    align-items: center;
}
.hidden{
    display:none;
}
.min-height{
    min-height: 350px;
}
